.accordion::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 8px;
  background-image: url("../img/arrow-accord.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);

  @media (max-width: $tablet-width) {
    width: 23px;
    height: 12px;
  }
}

.accordion--closed::after {
  transform: rotate(360deg);
}

.accordion--closed *:not(h3) {
  display: none;
}
