.blog {
  padding-left: 98px;
  padding-right: 98px;
  margin-top: 115px;

  @media (max-width: $tablet-width) {
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 95px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 85px;
  }
}

.blog p {
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;

  @media (max-width: $tablet-width) {
    margin-top: 23px;
  }
}

.blog__wrapper {
  max-width: max-content;
  margin: 0 auto;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 570px));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas:
    "care trend"
    "crystal trend";
  position: relative;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    max-width: 678px;
    gap: 50px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
    padding-top: 305px;
    gap: 296px;
  }
}

.blog__post {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 285px;
  min-height: 300px;
  padding-top: 60px;
  box-sizing: border-box;
  background-color: $blog-bg;

  &::before {
    content: "";
    position: absolute;
  }

  @media (max-width: $tablet-width) {
    width: 339px;
    padding-top: 65px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 256px;
    padding-top: 49px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}

.blog__post-date {
  font-family: $custom-font-poppins;
  font-size: 14px;
  font-weight: 500;
  color: $basic-grey;
  margin-bottom: 15px;

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
    margin-top: 0;
  }
}

.blog__post h3 {
  font-family: $custom-font-garamond;
  font-size: 26px;
  font-weight: 600;
  color: #000000;
  width: 163px;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

.blog__post-link {
  font-family: $custom-font-poppins;
  font-size: 16px;
  font-weight: 500;
  color: $basic-black;
  line-height: 130%;
  text-decoration: none;
  width: fit-content;
  border-bottom: 1px solid $basic-brown;
}

.blog__post-link:hover,
.blog__post-link:focus {
  border-bottom-style: dashed;
}

.blog__post--care {
  grid-area: care;
  justify-self: end;

  &::before {
    width: 285px;
    height: 300px;
    background-image: url("../img/jess-harper-sunday-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    z-index: -10;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/jess-harper-sunday-desktop@2x.jpg");
    }
  }

  @media (max-width: $tablet-width) {
    align-self: end;
    position: relative;

    &::before {
      width: 339px;
      height: 300px;
      left: -100%;
      background-image: url("../img/jess-harper-sunday-tablet.jpg");

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        background-image: url("../img/jess-harper-sunday-tablet@2x.jpg");
      }
    }
  }

  @media (max-width: $mobile-width) {
    align-self: center;

    &::before {
      width: 100%;
      height: 256px;
      left: 0;
      top: -96%;
    }
  }
}

.blog__post--crystal {
  grid-area: crystal;

  &::before {
    width: 285px;
    height: 300px;
    background-image: url("../img/alex-holyoake-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    right: 51.5%;
    bottom: 0;
    z-index: -10;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/alex-holyoake-desktop@2x.jpg");
    }
  }

  @media (max-width: $tablet-width) {
    align-self: start;
    position: relative;

    &::before {
      width: 339px;
      right: -100%;
      background-image: url("../img/alex-holyoake-tablet.jpg");

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        background-image: url("../img/alex-holyoake-tablet@2x.jpg");
      }
    }
  }

  @media (max-width: $mobile-width) {
    align-self: center;

    &::before {
      width: 100%;
      height: 256px;
      left: 0;
      top: -100%;
    }
  }
}

.blog__post--trend {
  grid-area: trend;
  justify-self: end;
  align-self: end;

  &::before {
    width: 570px;
    height: 630px;
    background-image: url("../img/alve-odonnell-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    left: 52%;
    bottom: 0;
    z-index: -15;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/alve-odonnell-desktop@2x.jpg");
    }
  }

  @media (max-width: $tablet-width) {
    align-self: end;
    position: relative;
    padding-top: 80px;

    &::before {
      width: 339px;
      height: 300px;
      left: -100%;
      background-image: url("../img/alve-odonnell-tablet.jpg");

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        background-image: url("../img/alve-odonnell-tablet@2x.jpg");
      }
    }
  }

  @media (max-width: $mobile-width) {
    align-self: center;
    padding-top: 60px;

    &::before {
      width: 100%;
      height: 256px;
      left: 0;
      top: -100%;
    }
  }
}
