.faq {
  margin-top: 120px;

  @media (max-width: $tablet-width) {
    margin-top: 75px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 60px;
  }
}

.faq h2 {
  margin-bottom: 55px;

  @media (max-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (max-width: $mobile-width) {
    min-width: 250px;
    margin-bottom: 29px;

    line-height: 130%;
    text-align: center;
  }
}

.faq__container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 45px;

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.faq__item {
  border: 1px solid $faq-border;
  border-bottom: none;

  &:focus-within {
    border-radius: 3px;
    outline: 2px solid -webkit-focus-ring-color;
  }

  &:last-child {
    border-bottom: 1px solid $faq-border;
  }
}

.faq__item summary {
  position: relative;

  margin: 0;
  padding: 43px 0 43px 42px;

  list-style: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  font-family: $custom-font-poppins;

  border-bottom: none;
  cursor: pointer;

  &::-webkit-details-marker {
    display: none;
  }

  &::-moz-list-bullet {
    list-style-type: none;
  }

  @media (max-width: $tablet-width) {
    padding-top: 44px;
    padding-left: 49px;
  }

  @media (max-width: $mobile-width) {
    padding: 19px 50px 20px 24px;

    font-size: 16px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 52px;
    right: 50px;
    z-index: 1;

    width: 15px;
    height: 8px;

    background-image: url("../img/arrow-accord.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: $tablet-width) {
      width: 23px;
      height: 12px;
    }

    @media (max-width: $mobile-width) {
      top: 23px;
      right: 22px;
    }
  }

  &:focus {
    outline: none;
  }
}

.faq__item[open] summary {
  padding-bottom: 4px;

  &::after {
    transform: rotate(180deg);
  }
}

.faq__item p {
  max-width: 527px;
  margin: 5px 0 0 0;
  padding-bottom: 42px;
  padding-left: 50px;

  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  font-family: $custom-font-poppins;

  @media (max-width: $tablet-width) {
    max-width: 530px;
    margin-top: 23px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 12px;
    padding: 0 55px 19px 24px;

    font-size: 14px;
    line-height: 140%;
  }
}
