.footer {
  background-color: $deep-black;
  display: flex;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 85px;
  padding-bottom: 95px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;

  @media (max-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 50px;
    padding-left: 46px;
    padding-right: 150px;
    row-gap: 45px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
  }
}

.footer__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  columns: 2;
  column-gap: 76px;
  margin-top: 5px;
  margin-left: 35px;
  margin-bottom: -22px;

  @media (max-width: $tablet-width) {
    margin-left: 0;
    column-gap: 87px;
  }

  @media (max-width: $mobile-width) {
    columns: 1;
    width: 290px;
  }
}

.footer__nav-item {
  margin-bottom: 22px;

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.footer__nav-item:nth-child(4n) {
  @media (max-width: $mobile-width) {
    margin-bottom: 42px;
  }
}


.footer__nav-item a {
  text-decoration: none;
  font-family: $custom-font-poppins;
  font-size: 16px;
  font-weight: 500;
  color: $basic-white;
  line-height: 130%;
  transition: color 200ms;
}

.footer__nav-item a:hover,
.footer__nav-item a:focus {
  color: $basic-grey;
}

.footer__contacts {
  @media (max-width: $mobile-width) {
    width: 290px;
  }
}