.gallery {
  margin-top: 115px;
  margin-bottom: 132px;

  @media (max-width: $tablet-width) {
    margin-top: 78px;
    margin-bottom: 77px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 65px;
    margin-bottom: 71px;
  }
}

.gallery p {
  width: fit-content;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 65px;

  @media (max-width: $tablet-width) {
    margin-top: 25px;
    margin-bottom: 0px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 47px;
  }
}

.gallery__pictures {
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: center;

  @media (max-width: $tablet-width) {
    width: 678px;

  }

  @media (max-width: $mobile-width) {
    width: 290px;
    flex-wrap: wrap;
  }
}

.gallery__column:not(:last-child) {
  margin-right: 2%;

  @media (max-width: $tablet-width) {
    margin-right: 16px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.gallery__column:nth-child(odd) {
  @media (max-width: $mobile-width) {
    margin-right: 24px;
  }
}

.gallery__column {
  display: flex;
  flex-direction: column;
}

.gallery__item:nth-child(1n) {
  margin-bottom: 14%;

  @media (max-width: $tablet-width) {
    margin-bottom: 21px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 27px;
  }
}

.gallery__column img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gallery__item--1 img,
.gallery__item--3 img,
.gallery__item--4 img {
  @media (max-width: $tablet-width) {
    width: 133px;
    height: 133px;
  }
}

.gallery__item--2 img {
  @media (max-width: $tablet-width) {
    width: 231px;
    height: 240px;
  }

  @media (max-width: $mobile-width) {
    width: 133px;
    height: 247px;
    object-fit: cover;
  }
}

.gallery__item--5 img,
.gallery__item--6 img,
.gallery__item--7 img {
  @media (max-width: $tablet-width) {
    width: 133px;
    height: 87px;
  }
}

.gallery__item--3 {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.gallery__item--4 {
  @media (max-width: $mobile-width) {
    display: none;
  }
}
