.mailing {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: -5px;
}

.mailing h2 {
  color: $basic-white;
  line-height: 130%;
  margin: 0;
  margin-bottom: 8px;

  @media (max-width: $mobile-width) {
    width: 80%;
  }
}

.mailing p {
  font-family: $custom-font-poppins;
  font-size: 16px;
  font-weight: 400;
  color: $basic-grey;
  margin: 0;
  margin-bottom: 33px;

  @media (max-width: $mobile-width) {
    width: 80%;
  }
}

.mailing__form {
  border-bottom: 1px solid $basic-white;
  display: flex;
  justify-content: space-between;
}

.mailing input {
  width: 390px;
  height: 34px;
  outline: none;
  border: none;
  background-color: transparent;
  color: $basic-white;

  @media (max-width: $tablet-width) {
    width: 448px;
  }

  @media (max-width: $mobile-width) {
    width: 58%;
  }
}

.mailing input::placeholder {
  font-family: $custom-font-poppins;
  font-size: 14px;
  font-weight: 400;
  color: $basic-grey;
}

.mailing__btn {
  font-family: $custom-font-poppins;
  font-size: 16px;
  font-weight: 500;
  color: $basic-white;
  outline: none;
  border: none;
  background-color: transparent;
  padding-right: 41px;
  padding-top: 0;
  margin-top: -2px;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 29px;
    height: 9px;
    background-image: url("../img/arrow-sign.svg");
    background-size: cover;
    right: 0;
    top: 12px;
  }
}
