.main-slogan {
  margin-top: 19px;
  width: 100%;
  min-height: 463px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $basic-brown;
  background-image: url("../img/intro-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/intro-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    margin-top: 0;
    background-image: url("../img/intro-tablet.jpg");

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/intro-tablet@2x.jpg");
    }
  }
}

.main-slogan span {
  font-family: $custom-font-garamond;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: $basic-white;

  @media (max-width: $tablet-width) {
    padding-right: 15px;
  }

  @media (max-width: $mobile-width) {
    font-size: 38px;
    padding-right: 0;
  }
}

.main-slogan p {
  font-family: $custom-font-garamond;
  font-size: 38px;
  font-style: italic;
  font-weight: 400;
  color: $basic-white;
  margin: 0;

  @media (max-width: $tablet-width) {
    padding-right: 16px;
  }

  @media (max-width: $mobile-width) {
    font-size: 34px;
    padding-right: 0;
  }
}
