.product-card {
  display: block;
  font-family: $custom-font-poppins;
  text-align: center;
  color: $basic-black;
  text-decoration: none;
}

.product-card img {
  width: 100%;
  min-height: 100%;

  object-fit: cover;
  object-position: center;

  @media (max-width: $tablet-width) {
    height: auto;
  }

  @media (max-width: $mobile-width) {
    width: 130px;
    min-height: 136px;
  }
}

.product-card--slider img {
  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 100%;
  }
}

.product-card p {
  margin-top: 14px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  width: inherit;

  @media (max-width: $tablet-width) {
    margin-top: 12px;
  }

  @media (max-width: $mobile-width) {
    line-height: 20.8px;
    width: 130px;
    margin-top: 12px;
    text-align: center;
  }
}

.product-card span {
  font-weight: 700;
  font-size: 14px;

  @media (max-width: $mobile-width) {
    display: inline-block;
    margin-top: 5px;
  }
}
