.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  max-width: 1170px;
  height: 418px;

  @media (max-width: 1169px) {
    width: 870px;
  }

  @media (max-width: $tablet-width) {
    height: 468px;
    width: 678px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    height: 273px;
  }
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
  &.swiper-vertical {
    touch-action: pan-x;
  }
}

.swiper-slide {
  flex-shrink: 0;
  width: 270px;
  height: 100%;
  position: relative;
  transition-property: transform;

  @media (max-width: $tablet-width) {
    width: 324px;
  }
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight {
  &,
  .swiper-slide {
    height: auto;
  }

  .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
  }
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: $custom-font-poppins;
  font-size: 16px;
  font-weight: 500;
}
/* Bullets */
.swiper-pagination-bullet {
  font-family: $custom-font-poppins;
  font-size: 16px;
  font-weight: 500;
	border-radius: 0;
  padding: 7.5px 7.5px 0 7.5px;
	width: auto;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color:$basic-grey;
	opacity: 1;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
	color:$basic-black
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: -95px;
  margin: 0 auto;
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: stretch;

  @media (max-width: $tablet-width) {
    top: -82px
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0;
  right: auto;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
  width: 29px;
  height: 9px;
  background-image: url("../img/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0;
  left: auto;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
  width: 29px;
  height: 9px;
  background-image: url("../img/arrow.svg");
  transform: rotate(180deg);
  background-size: contain;
  background-repeat: no-repeat;
}