.swiper {
  position: relative;
  z-index: 1;

  max-width: 1170px;
  // height: 428px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  overflow: hidden;

  list-style: none;

  @media (max-width: 1169px) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    min-width: 290px;
  }
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
  width: 100%;
  height: 100%;

  transition-property: transform;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;

  &.swiper-vertical {
    touch-action: pan-x;
  }
}

.swiper-slide {
  position: relative;
  flex-shrink: 0;
  width: 270px;
  height: 100%;

  transition-property: transform;

  @media (max-width: $tablet-width) {
    width: 324px;
    min-height: 402px;
  }

  @media (max-width: $mobile-width) {
    width: 130px;
    min-height: 214px;
  }
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight {
  &,
  .swiper-slide {
    height: auto;
  }

  .swiper-wrapper {
    align-items: flex-start;

    transition-property: transform, height;
  }
}

.swiper-pagination {
  position: relative;
  z-index: 10;
  text-align: center;
  transform: translate3d(0, 0, 0);
  transition: 300ms opacity;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -35px;
  left: 0;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  font-family: $custom-font-poppins;

  @media (max-width: $tablet-width) {
    bottom: -30px;
  }

  @media (max-width: $mobile-width) {
    bottom: -28px;
  }
}

.swiper-pagination-current {
  @media (max-width: $mobile-width) {
    margin-right: 6px;
  }
}

.swiper-pagination-total {
  @media (max-width: $mobile-width) {
    margin-left: 3px;
  }
}

/* Bullets */
.swiper-pagination-bullet {
  width: auto;
  height: auto;
  padding: 7.5px 6px 0 7.5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  font-family: $custom-font-poppins;
  text-align: center;
  color: $basic-grey;
  border-radius: 0;
  cursor: pointer;
  opacity: 1;
  border: none;
  background-color: transparent;
}

.swiper-pagination-bullet:hover:not(.swiper-pagination-bullet-active) {
  transform: scale(1.2);
}

.swiper-pagination-bullet-active {
  color: $basic-black;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: -105px;
  z-index: 100;
  display: flex;
  justify-content: stretch;
  align-items: center;
  height: var(--swiper-navigation-size);
  margin: 0 auto;
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;

  @media (max-width: $tablet-width) {
    top: -103px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  right: auto;
  left: 0;
}

.swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after {
  content: "";
  width: 29px;
  height: 9px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $tablet-width) {
    width: 36px;
    height: 15px;
  }
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0;
  left: auto;
}

.swiper-button-next::after,
.swiper-rtl .swiper-button-next::after {
  content: "";

  width: 29px;
  height: 9px;

  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);

  @media (max-width: $tablet-width) {
    width: 36px;
    height: 15px;
  }
}

.swiper-button-prev:hover:after,
.swiper-rtl .swiper-button-next:hover:after {
  transform: scale(1.2);
}

.swiper-button-next:hover:after,
.swiper-rtl .swiper-button-next:hover:after {
  transform: rotate(180deg) scale(1.2);
}
